<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>
    <%- include('partials/style'); -%>
<body>
    <%- include('partials/navigation'); -%>
    <section class="marginSection">
        <h1 style="text-align: center;"> BIENVENIDO A EL MEJOR BANCO</h1>
        <h2>BANK SQUAD</h2>
        <p>
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid perspiciatis dicta in, illum quo, ea vel beatae placeat similique minus ex, ipsum architecto esse perferendis quidem porro eos iusto? Magnam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi maiores amet aspernatur nesciunt, facere harum, quia delectus quae quidem consequatur eos et eveniet neque sapiente fugiat numquam laboriosam omnis accusamus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reiciendis cumque ipsum veniam aperiam animi illo velit dolorum non fugiat! Architecto iure earum explicabo iusto deserunt, veniam quibusdam molestias facere!
        </p>
    </section>
    <%- include('partials/footer'); -%>
</body>
</html>